## Aliases added by Justine

alias rm='rm -i'

alias ls='ls -p'
alias la='ls -pA'
alias ll='ls -plhoT'
alias lt='ls -t'
alias lla='ls -pAlhoT'
alias tree='tree -CF --dirsfirst -L 2 -I "*.pyc|__pycache__"'
alias grep='grep --color'

alias dl='cd ~/Downloads'

alias vim='mvim -v'
alias vi='vim'

alias profz='vim ~/.zshrc'
alias profb='vim ~/.bash_profile'
alias profa='vim ~/.aliases'
alias profv='vim ~/.vimrc'
alias profenv='vim ~/.env'
alias sourceprof='source ~/.bash_profile'

export TODAY=$(date +%y%m%d)
alias today='rem -n | sort | grep $(date +%Y/%m/%d) | cut -d " " -f 2-'

export NOTES_DIR=~/Dropbox/notes
alias notes='cd $NOTES_DIR'
alias newnote='vim $NOTES_DIR/diary/$TODAY.md'
alias lastnote='notes && cd diary && vim $(ls -t | head -1)'

alias t='todo.sh -d /Users/jc5809/Applications/todo.txt_cli-2.10/todo.cfg'
alias todo='vim $TODO_DIR/todo.txt'

alias copyssh='cat ~/.ssh/id_rsa.pub | pbcopy'

# alias steam='wine "C:\Program Files\Steam\Steam.exe" -no-dwrite -no-gameoverlayrenderer'
# alias ageofempires='wine "C:\Program Files\Steam\steamapps\common\Age2HD\Launcher.exe" -no-dwrite -no-gameoverlayrenderer'
# alias aoe='ageofempires'

export PROJECT_DIR=$HOME/Dropbox/Programming/Projects/
alias proj='cd $PROJECT_DIR && ls'
alias prog='cd ~/Dropbox/Programming && ls'

alias copy='tr -d "\n" | pbcopy'

alias hist='history'
alias chmodof='stat -f "%OLp"'
alias sizeof='du -h -d 1 -c' # See also ncdu installed with Homebrew
alias short='export PS1="$ "'
alias json='python -mjson.tool'
alias android-avd='~/Library/Android/sdk/tools/android avd'

alias up='cd ..'
alias upup='cd ../..'
alias back='cd -'

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"

# Intuitive map function
# For example, to list all directories that contain a certain file:
# find . -name .gitattributes | map dirname
alias map="xargs -n1"

alias startserver="python -m SimpleHTTPServer"

function clip { [ -t 0 ] && pbpaste || pbcopy; }

alias c='pygmentize -O style=manni -f console256 -g'
