[user]
	name = galvanic
[alias]
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	lolaa = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[push]
	default = current
[color]
	ui = auto
	status = always
[rerere]
	enabled = true
[core]
	excludesfile = $XDG_CONFIG_HOME/git/.gitignore-global
	attributesfile =$XDG_CONFIG_HOME/git/.gitattributes
