*.un~
*.bak

*zcompdump*
vimperator/.vimperator/info/default/history*
vimperator/.vimperator/info/default/local-marks
vimperator/.vimperator/info/default/macros
vimperator/.vimperator/info/default/quickmarks
